{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django Marcado' %}{% endblock %}

{% block extrastyle %}
<style type="text/css">
	#header {
		background-color: #058BCC;
		color: yellow;
	}
</style>

{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django Marcador' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
