{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Welcome | {% endblock %} 

{% block title %}
  {% if create %}Create{% else %}Edit{% endif %} bookmark
{% endblock %}

{% block heading %}
  <h2>
    {% if create %}
      Create bookmark
    {% else %}
      Edit bookmark
    {% endif %}
  </h2>
{% endblock %}

{% block content %}
  {% if create %}
    {% url "marcador_bookmark_create" as action_url %}
  {% else %}
    {% url "marcador_bookmark_edit" pk=form.instance.pk as action_url %}
  {% endif %}
  <form action="{{ action_url }}" method="post" accept-charset="utf-8"> {% csrf_token %}
  
    {{ form | crispy }}
    
    <p><input type="submit" class="btn btn-default" value="Save"></p>
  </form>
  
{% endblock %}
