{% load staticfiles %}

<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<style>
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
</style>
<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
<link rel="stylesheet" href="{% static "css/main.css" %}">

<script src="{% static "js/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
